{% include "top.html" %}
{% include "topBar.html" %}
<div>
    <br>
    <br>


              <div class="row valign-wrapper">
                <div class="col s6"></div>
                    <div class="center-align col s2">
                        {% load static %} <img src='{% static "/images/vectorimage_home.png" %}' alt="home"class=" responsive-img"/>
                      </div>
                      <div class="col s6"></div>
              </div>

    <h1 class="center-align blue-text">Comprometidos con tu salud</h1>
    <br>
        <h5 class="center-align black-text">
            En doc2go empoderamos al paciente médico haciéndolo dueño de su 
        </h5>
        <h5 class="center-align black-text">
            información, proporcionando un historial médico de por vida administrado y 
        </h5>
        <h5 class="center-align black-text">
            gestionado por el paciente.
        </h5>
        <br>

        <p class="center-align">

                <a href="nosotros" class="waves-effect waves-light btn white-text blue">Más info.</a>
        </p>


</div>
{% include "button.html" %}