{% include "top.html" %}
{% include "topBar.html" %}
<div class="row">
    <div class="col s6">
        <h1>
            Big data en 
        </h1>
        <h1>
            la industria médica
        </h1>
        <h1>
            médica
        </h1>
        <div class="row">
            <div class="col offset-s2 s6">
                <a href="doc2go" class="waves-effect waves-light btn white-text blue">Consulta de síntomas</a>

            </div>

        </div>

    </div>
    <div class="col s6">
        <br>
        <br>
        <h6>Contáctanos</h5>
        <br>
        <h5><b>Dirección</b></h5>
        <p>Epigmenio González 500, Frac. San Pablo. </p>
        <p>CP: 76148</p>
        <br>
        <h5><b>Correo electrónico</b></h5>

        <p>atencion.clientes@healthlabs.com</p>
        <br>
        <h5><b>Número de teléfono</b></h5>

        <p>(442)-1234-0082 ext. 421</p>
    </div>
</div>

{% include "button.html" %}