{% include "top.html" %}
{% include "topBar.html" %}
<div class="row">
    <div class="col s8">
        <form action="register3">
            <h5>Ingresar los síntomas del paciente:</h5>
            <h4>Sintomatología:</h4>
            <h5>Selecciona los síntomas que apliquen a usted:</h5>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Dolor o molestia en el pecho</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Náuseas</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Dolor que se expande al brazo izquierdo</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Mareos</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Dolor de garganta</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Dolor en la mandíbula</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Fatiga crónica</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Sudoraciones</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Tos seca</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Tos con flemas</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Hinchazón en las piernas y articulasiones</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Pulso irregular</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Dolor de espalda</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Incomodidad o dolor en el codo izquierdo</span>
                </label>
            </p>
            <p class="center-align">
                <label for="submit" class="white-text waves-effect waves-light btn white-text blue">Siguiente</label><br>
                <input id="submit" type="submit" hidden>
            </p>
        
        </form>
    </div>
    <div class="col s3 ">
        <br>
        <div class="row">
            <div class="col s12 waves-effect waves-light btn white-text blue center-align">
                <label class="white-text center-align ">Aviso
                </label>
            </div>
        </div>
        <p>
            Por el momento solo proporcionamos asesoría para enfermedades cardiovasculares crónico degenerativas.
            Siendo estas las más comunes y mortales en México, solo después del Covid-19.
            En el futuro planeamos seguir evolucionando para brindarte el mejor servicio. 
        </p>

    </div>
</div>


{% include "button.html" %}