
<nav  class="transparent">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo blue-text"> 
        <!--
            {% load static %}<img src='{% static "/images/a.png" %}' alt="home" class="circle responsive-img"/>
        -->
            doc2go
        </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down blue-text">
        <li ><a href="inicio" class="black-text">Inicio</a></li>
        <li><a href="doc2go" class="black-text">doc2go</a></li>
        <li><a href="nosotros" class="black-text">Nosotros</a></li>
      </ul>
    </div>
</nav>



        