{% include "top.html" %}
{% include "topBar.html" %}
<h4>Team Members</h4>
<ul>
    <li>
        Fernanda Bueso Medina
    </li>
    <li>
        Emiliano Etienne Iracheta
    <li>
        Alexis García Gutiérrez
    </li>
    <li>
        Diego Garza Noriega
    </li>
    <li>
        Gregorio González Franco
    </li>
</ul>
<h4>Topic_Modelling</h4>
<p>The objective of the project is to use topic modelling techniques to find the most frequent topic that was generated throughout different posts of users in different online platforms (Reddit, Twitter, YouTube, Facebook). Two different techniques were applied: BERTopic and Latent Semantic Analysis/Indexing.</p>
<h4>Example videos. </h4>
<h4>Example videos. </h4>
<h5>BERTopic</h5>
<div class="row">
    <div class="col s6">
        <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/BDUJrhHBmww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
</div>
<h5>LSA</h5>
<div class="row">
    <div class="col s6">
        <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/x5xfPmkEm_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
</div>

<h4>Notes</h4>
<p>It works better on Twitter  using the feature collect by country because it can collect more data, and the technic used for the topic modeling requires a large quantity of information. </p>
<p>Facebook requires a developer token with the permision user_post</p>
<p>Youtube requires the user it can be found on the link to the chanel, example link: https://www.youtube.com/c/FoxNews chanal name FoxNews</p>
<h4>More info</h4>
<a href="https://github.com/AlexGarciaG/NLP_topic_modeling">GitHud</a>
{% include "button.html" %}