
<nav  class="transparent">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo blue-text"> 
        <!--
            {% load static %}<img src='{% static "/images/a.png" %}' alt="home" class="circle responsive-img"/>
        -->
            NLP-Topic-Modeling
        </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down blue-text">
        <li ><a href="youtube" class="black-text">YouTube</a></li>
        <li ><a href="facebook" class="black-text">Facebook</a></li>
        <li><a href="reddit" class="black-text">Reddit</a></li>
        <li><a href="twitter" class="black-text">Twitter</a></li>
      </ul>
    </div>
</nav>



        